#misc
.idea
.DS_Store

#sample mov files
sample_videos/

#Temporary files
Pulse_time series_H
Pulse_time series_W
Pulse_time series_X
Pulse_time series_Y
Pulse_time series_test

__pycache__/

testfft.py

#virtual environment
venv/

html/

scratch_stuff/
*.pyc

*.csv

